.env
.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
dist
node_modules
**/widget/dist
**/public/widget/
**/backend/uploads
*.db
*.db-journal
.DS_Store
.idea
.vscode
htmlcov
.coverage
